before_install:
  - gem install cocoapods
install:
  - brew update && brew upgrade swiftlint
  - cd Nonton
  - pod install --verbose
language: swift
osx_image: xcode12
xcode_workspace: Nonton.xcworkspace
xcode_scheme: Nonton
xcode_destination: platform=iOS Simulator,OS=14.0,name=iPhone 11 Pro
script:
 - swiftlint
 - xcodebuild -workspace 'Nonton.xcworkspace' -scheme 'Nonton' -destination 'platform=iOS Simulator,OS=14.0,name=iPhone 11 Pro'
